{% trans_default_domain 'FOSUserBundle' %}

<div class="stump">
    <div class="container topborder"></div>
    <div class="container contentarea">
        <div class="row animated fadeInUp">
            <div id="content" class="col-md-8 col-sm-8">
                <div class="paddy">
                    <h1 class="entry-title">My Account</h1>
                    <div class="woocommerce">
<style>
    .woocommerce form .form-row .required {visibility: visible;}

</style>


                        <h2>Login</h2>
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form class="woocommerce-form woocommerce-form-login login"  action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}

                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="username">Username or email address&nbsp;<span class="required">*</span></label>
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username">			</p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="password">Password&nbsp;<span class="required">*</span></label>
                                <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" id="password" name="_password" required="required" autocomplete="current-password">
                            </p>


                            <p class="form-row">
                                <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="b3d0057d03"><input type="hidden" name="_wp_http_referer" value="/petsandvets/my-account/">			<button type="submit" class="woocommerce-Button button" name="login" value="Log in">Log in</button>
                                <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                                    <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                </label>
                            </p>
                            <p class="woocommerce-LostPassword lost_password">
                                <a href="my-account/lost-password/index.html">Lost your password?</a>
                            </p>


                        </form>


                    </div>
                    <div class="clearfix"></div>
                    <a name="comments"></a>
                    <div id="post-comments">
                        <h3 class="comments-title"></h3>

                        <ol class="commentlist"></ol>


                    </div>	</div>

            </div>
            <div id="sidebar" class="col-md-4 col-sm-4">
                <div id="opentimes_widget-3" class="widget_opentimes_widget widget pagesidebar mb20"><div class="widget-pad"><div class="opentimesbox well">
                            <h5><i class="glyphicon glyphicon-time"></i> Open Times</h5>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><strong>Weekdays</strong></td>
                                    <td>9:00am-5:00pm</td>
                                </tr>
                                <tr>
                                    <td><strong>Saturday</strong></td>
                                    <td>9:00am-5:00pm</td>
                                </tr>
                                <tr>
                                    <td><strong>Sunday</strong></td>
                                    <td>9:00am-5:00pm</td>
                                </tr>
                                <tr>
                                    <td><strong>Public Holidays</strong></td>
                                    <td>9:00am-5:00pm</td>
                                </tr>
                                </tbody>
                            </table></div>
                    </div></div><div id="unf_recent_posts-3" class="Unf_Recent_Posts widget pagesidebar mb20"><div class="widget-pad">
                        <!--- Most Recent --->


                        <div class="grid-block post light grid mb20 norm">
                            <div class="grid-block-content">

                                <div style="background:url('wp-content/uploads/sites/5/2014/02/dog7-224x100.jpg') center center no-repeat #000;" class="gridpostimage">
                                    <a href="index.html%3Fp=153.html">Read More</a>
                                </div>
                                <div class="grid-text-cover">
                                    <p class="gridcatname"><a href="category/dog/index.html">Dogs</a></p>
                                    <strong class="grid-title"><a href="index.html%3Fp=153.html" class="">House Training</a></strong>
                                    <p class="gridexcerpt">Photo by&nbsp;blumenbiene Puppies need to be house trained in order to understand that it’s not okay t...</p>
                                    <p class="listexcerpt">Photo by&nbsp;blumenbiene Puppies need to be house trained in order to understand that it’s not okay to eliminate in your house. House training is a simple process, but one that must be carried out positively (without punishment that scares the...</p>
                                    <div class="visible-lg visible-md">									<span class="postmetagrid-daysago">
										<i class="glyphicon glyphicon-time icon-black"></i>
						                4 years, 142 days ago									</span>
                                        <span class="postmetagrid-comment">
								            <i class="glyphicon glyphicon-comment icon-black"></i>
					    					<a href="index.html%3Fp=153.html#comments">1</a>				    					</span>
                                    </div>							</div>
                            </div>
                        </div>




                        <div class="grid-block post light grid mb20 norm">
                            <div class="grid-block-content">

                                <div style="background:url('wp-content/uploads/sites/5/2014/02/IMG_9117-224x100.jpg') center center no-repeat #000;" class="gridpostimage">
                                    <a href="index.html%3Fp=276.html">Read More</a>
                                </div>
                                <div class="grid-text-cover">
                                    <p class="gridcatname"><a href="category/stores/index.html">Stores</a></p>
                                    <strong class="grid-title"><a href="index.html%3Fp=276.html" class="">New Store Opening!</a></strong>
                                    <p class="gridexcerpt">Store Grand Openings. We’re always opening up new stores to provide pets and Pet Parents with ...</p>
                                    <p class="listexcerpt">Store Grand Openings. We’re always opening up new stores to provide pets and Pet Parents with a place to go for a variety of competitively priced, quality pet products. Store Grand Openings. We’re always opening up new stores to provide...</p>
                                    <div class="visible-lg visible-md">									<span class="postmetagrid-daysago">
										<i class="glyphicon glyphicon-time icon-black"></i>
						                4 years, 140 days ago									</span>
                                        <span class="postmetagrid-comment">
								            <i class="glyphicon glyphicon-comment icon-black"></i>
					    					<a href="index.html%3Fp=276.html#respond">0</a>				    					</span>
                                    </div>							</div>
                            </div>
                        </div>




                    </div></div>			</div><!-- end sidebar -->		</div>
    </div>

    <div class="container bottomborder"></div>
</div>
